<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fish84.craigfish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sphere"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sphere"
        android:supportsRtl="true"
        android:theme="@style/Theme.CraigFish">
        <activity android:name=".MyProfile"></activity>
        <activity android:name=".AboutMe" />
        <activity android:name=".Calculation" />
        <activity android:name=".Menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>